html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    text-align: center;
    margin: auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:link,
a:visited,
ins {
    text-decoration: none
}

a:visited {
    color: #505
}

a:hover,
a:hover img {
    text-decoration: none;
    opacity: .8
}

body {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f6f6f6;
    text-align: center;
}

.container {
    max-width: 1155px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.link {
    color: #00144d;
    text-decoration: underline !important;
}

.header-top {
    background-color: #000f3a;
    min-height: 48px;
}

.header-top nav {
    max-width: 745px;
    width: 100%;
    position: relative;
}

.header-top a.burger {
    display: block;
}

nav a.burger:hover,
nav a.burger:focus {
    opacity: 0.7;
}

nav a.burger span {
    display: none;
}

nav a.burger span:before,
nav a.burger span:after {
    content: "";
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: inherit;
}

nav a.burger span:before {
    top: -8px;
}

nav a.burger span:after {
    bottom: -8px;
}

.header-top ul {
    max-width: 745px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5.5px 0;
}

.header-top ul li a {
    font: 400 14px/37px "Open Sans", "Robotto", sans-serif;
    color: #82afd3
}

.header-bottom {
    background-color: #00144d;
}

.header-bottom .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 25px;
}

.header-bottom .container>a img {
    max-width: 494px;
    width: 100%;
    background-size: cover;
}

.header-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 28px 0 27px;
}

.header-bottom ul li a {
    font: 400 20px/16px "Open Sans", "Robotto", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 25px
}

.header-bottom ul li:last-child a {
    margin-right: 0
}

main {
    max-width: 99vmax;
    width: 500%;
    padding: 100px 20px 59px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.author-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 38px;
}

.author-text {
    max-width: 580px;
    width: 100%;
    padding: 8px 0 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main h1 {
    font: 400 30px/35px "Open Sans", "Roboto", sans-serif;
    color: #000f3a;
    position: relative;
}

main h1::before {
    content: url(../img/claws.png);
    position: absolute;
    top: -8px;
    left: -16px;
}

.author-text p {
    font: 400 14px/18px "Open Sans", "Roboto", sans-serif;
    color: #a8a8a8;
}

.author-text span {
    color: #373737;
}

.author-text p:last-child {
    font-size: 16px;
    font-style: italic;
    color: #606060;
}

.text-gray {
    font: 400 14px/24px "Open Sans", "Roboto", sans-serif;
    color: #606060;
    margin-bottom: 15px;
    text-align: justify;
}

.bold {
    font-weight: 700;
}

.text-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}

.text-block-l {
    max-width: 360px;
    width: 100%;
}

.text-block-r {
    max-width: 440px;
    width: 100%;
    font: 400 italic 16px/26px "Open Sans", "Roboto", sans-serif;
    color: #000;
    padding: 14px 20px;
    border: 1px solid #d1d1d1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

table tr td {
    width: 33%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    font: 400 16px/24px "Open Sans", "Roboto", sans-serif;
    color: #606060;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table tr:first-child td {
    border-top: none;
}

table tr:first-child td:first-child {
    font: 400 italic 25px/34px "Open Sans", "Roboto", sans-serif;
    vertical-align: middle;
    color: #00144d;
}

table tr td img {
    margin-left: 25px;
}

table tr:not(:first-of-type) td:nth-of-type(2) {
    background-color: #fafafa;
}

table tr:not(:first-of-type) td:nth-of-type(3) {
    background-color: #f7fcf9;
}

.product {
    max-width: 242px;
    width: 100%;
    background-size: cover;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

main .btn {
    font: 700 16px/20px "Open Sans", "Roboto", sans-serif;
    color: #d70000;
    text-decoration: underline;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.ico_1,
.ico_2,
.ico_3,
.ico_4,
.ico_5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat
}

.ico_1 {
    background-position: -36px -0px;
    height: 16px;
    width: 8px
}

.ico_2 {
    background-position: -19px -0px;
    height: 16px;
    width: 17px
}

.ico_3 {
    background-position: -17px -16px;
    height: 16px;
    width: 15px
}

.ico_4 {
    background-position: -0px -0px;
    height: 16px;
    width: 19px
}

.ico_5 {
    background-position: -0px -16px;
    height: 16px;
    width: 17px
}

.soctags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 100px;
}

.social {
    max-width: 171px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social p,
.tags p {
    font: 400 12px/18px "Open Sans", "Roboto", sans-serif;
    color: #1c1c1c;
    text-transform: capitalize;
    margin: 0 10px 5px 0
}

.soctags .soc-icon {
    max-width: 122px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tags a p {
    padding: 0 10px;
    color: #a8a8a8;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
}

h2 {
    font: 700 16px/16px "Open Sans", "Robbot", sans-serif;
    color: #474747;
    padding-bottom: 7px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 25px 0 20px;
    border-bottom: 1px solid #e6e6e6;
}

.ava1,
.ava2,
.ava3 {
    display: inline-block;
    background-image: url(../img/ava.png);
    background-repeat: no-repeat;
    position: relative;
}

.ava1 {
    background-position: -0px -0px;
    height: 65px;
    width: 65px
}

.ava2 {
    background-position: -0px -65px;
    height: 65px;
    width: 65px
}

.ava3 {
    background-position: -65px -0px;
    height: 65px;
    width: 65px
}

.comment-content {
    max-width: 720px;
    width: 100%;
}

.comment-content p {
    font: 700 14px/24px "Open Sans", "Roboto", sans-serif;
    color: #373737;
}

.name a {
    color: inherit;
}

.posted {
    margin-bottom: 10px;
}

.comment .comment-content span {
    font-weight: 400;
    color: #a8a8a8;
}

.comment-content .text {
    font-weight: 400;
    color: #606060;
    margin-bottom: 30px;
    text-align: justify;
}

.comment_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.comment_btn div {
    max-width: 240px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.comment_btn a {
    font: 700 14px/42px "Open Sans", "Roboto", sans-serif;
    color: #767676;
    line-height: inherit;
}

.apruv:before,
.reply:before,
.report:before {
    display: inline-block;
    background-image: url(../img/comment-panel.png);
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}

.reply:before {
    content: "";
    background-position: -0px -0px;
    height: 21px;
    width: 25px
}

.apruv:before {
    content: "";
    background-position: -25px -0px;
    height: 21px;
    width: 16px
}

.report:before {
    content: "";
    background-position: -41px -0px;
    height: 21px;
    width: 16px
}

.reply,
.apruv {
    padding: 5px 15px;
    border: 1px solid #bababa;
    background: -webkit-gradient(linear, left bottom, left top, from(#d1d0d0), to(#fff));
    background: linear-gradient(to top, #d1d0d0, #fff);
}

.reply:hover,
.apruv:hover {
    background: #fff;
}

.report {
    padding: 5px 15px;
}

.msg_title {
    font: 700 14px/16px "Open Sans", "Roboto", sans-serif;
    color: #1f1f1f;
    margin: 25px 0 15px;
}

.textarea {
    border-radius: 5px;
    border: 1px solid #bababa;
    max-width: 824px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: vertical;
    max-height: 350px;
    min-height: 65px;
    margin-bottom: 15px;
}

.msg_btn {
    float: right;
    font: 700 15px/42px "Open Sans", "Roboto", sans-serif;
    color: #000;
    border: 1px solid #bababa;
    background: -webkit-gradient(linear, left bottom, left top, from(#d1d0d0), to(#fff));
    background: linear-gradient(to top, #d1d0d0, #fff);
    text-align: center;
    padding: 0 40px;
}

.msg_btn:hover {
    background: #fff;
}


h3 {
    font: 400 20px "Open Sans", "Roboto", sans-serif;
    color: #ffffff;
    background-color: #00144d;
    padding: 10px 15px 13px;
}

footer {
    width: 100%;
    background-color: #00144d;
    border-bottom: 50px solid #000f3a;
    padding: 35px 0;
}

.ico_6,
.ico_7,
.ico_8,
.ico_9,
.ico_10 {
    display: inline-block;
    background-image: url(../img/sprite2.png);
    background-repeat: no-repeat
}

.ico_6 {
    background-position: -46px -0px;
    height: 20px;
    width: 10px
}

.ico_7 {
    background-position: -0px -20px;
    height: 20px;
    width: 21px
}

.ico_8 {
    background-position: -21px -20px;
    height: 20px;
    width: 18px
}

.ico_9 {
    background-position: -0px -0px;
    height: 20px;
    width: 24px
}

.ico_10 {
    background-position: -24px -0px;
    height: 20px;
    width: 22px
}

footer .soc-icon {
    max-width: 150px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0 20px;
}

footer .ydate {
    font: 400 14px "Open Sans", "Roboto", sans-serif;
    color: #808080;
    text-align: center;
    margin-top: 15px;
}

.footer-l .img {
    margin-right: 20px;
    max-width: 271px;
    background-size: cover
}

.footer-r {
   
    max-width: 630px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-r ul {
    
    width: 30%;
}

.footer a {
    font: 400 14px/24px "Open Sans", "Roboto", sans-serif;
    color: #fff;

}

.footer-r ul li:first-child a {
    font: 400 16px/16px "Open Sans", "Roboto", sans-serif;
    color: #82afd3;
}

.footer-r ul li {
    margin-bottom: 10px;
    margin-left: 650px;
}

@media (max-width:812px) {
    .header-bottom .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .header-top .container,
    .header-bottom .container {
        max-width: 854px;
    }
    .maincontent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    main {
        margin: 0 auto;
        padding: 30px 10px;
    }
    aside {
        display: none;
    }
}

@media (max-width:850px) {
    .author-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .soctags {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .soctags .social {
        margin-bottom: 15px;
    }
    .header-top nav ul li a {
        font-size: 0;
    }
    .header-top nav a.burger span {
        display: block;
        position: relative;
        width: 26px;
        height: 2px;
        background-color: #9bbfce;
        bottom: -22px;
        margin-top: -1px;
        left: 12px;
        margin-left: -13px;
    }
    .text-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .text-block-l,
    .text-block-r {
        max-width: inherit;
    }
    .text-block-l {
        margin-bottom: 15px;
    }
    .comment {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .comment-content {
        max-width: 765px;
    }
    .author-text p {
        margin-top: 10px;
    }
    table tr td:first-of-type {
        display: none;
    }
}

@media (max-width:650px) {
    footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    footer .soc-icon {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-l {
        margin: 0 auto;
    }
    .footer-r ul {
        text-align: center
    }
    .header-bottom ul {
        display: none;
    }
}

@media (max-width:480px) {
    .comment_btn .apruv,
    .comment_btn .reply,
    .comment_btn .report {
        font-size: 0;
    }
    .apruv:before,
    .reply:before,
    .report:before {
        margin: 0;
    }
    .comment_btn div {
        max-width: 140px;
    }
    .soctags {
        margin-bottom: 25px;
    }
    .comment a {
        margin: 0;
        text-align: center;
    }
    .comment-content .name,
    .comment-content .posted {
        text-align: center;
    }
    .footer-r {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-r ul {
        width: 100%;
        margin-bottom: 10px;
    }
    main h1 {
        font-size: 20px;
    }
    table tr td {
        padding: 5px;
        font-size: 13px;
        line-height: 20px;
        max-width: 150px;
    }
}